{{!-- {{page.actual}} --}}

<div class="lista-cap">
    <ul>
        {{#each ListaCapitulos }}
        {{#dataValues}}
        <li>
            <a href="/capitulo/leer/{{novelaId}}/{{pagina}}/1">
                {{ cap }}
            </a>
        </li>
        {{/dataValues}}
        {{/each}}
        {{!-- http://localhost:4000/capitulo/leer/638acb2897514f1ffa6cfcdd/1? --}}
    </ul>
</div>