    <h1>Agregar Novela</h1>
    <form action="/agregarNovela" method="POST">


        <label for="titulo">Titulo:</label>
        <input type="text" name="titulo" placeholder="Titulo" /><br>

        <label for="imagen">Imgen:</label>

        <input type="url" name="imagen" placeholder="url img" /><br>

        <button type="submit">Agregar</button>
    </form>