<div class="form-agregar">

        {{#each novela}}
        {{#dataValues}}
        <h1>Agregar Capitulo a la novela</h1>
        <h2> {{titulo}}</h2>

         <img src="{{imagen}}" alt="">

        {{/dataValues}}
        {{/each}}
        <form action="/capitulo/agregar/{{id}}" method="post">

                <input type="url" name="url" id="" placeholder="Agregar Url de capitulos"><br>
                <button type="submit">Agregar</button>

        </form>

</div>