<div class="frmNovela">

    <div class="frmNovela-titulo">
        <h1>Agregar Novela</h1>

    </div>
    <div class="frmNovela-frm">

        <form action="/agregarNovela" method="POST">

            <div class="frmNovela-label">
                <label for="titulo">Titulo</label><br>
                <input type="text" name="titulo" placeholder="Titulo" /><br>

                <label for="imagen">Imgen</label><br>

                <input type="url" name="imagen" placeholder="url img" /><br>


            </div>

            <div class="frmNovela-btm">

                <button type="submit">Agregar</button>
            </div>
        </form>

    </div>
</div>