<div class="form-agregar">


        <h1>agregar cap</h1>

        <p> El id de la novela es {{id}}</p>


        <form action="/capitulo/agregar/{{id}}" method="post">

                <input type="url" name="url" id="" placeholder="Agregar Url de capitulos">
                <button type="submit">Agregar</button>

        </form>

</div>