<div class="cabeza">

    <div class="cabeza-contenido">
        <a href="/novela">
            <h1>Agregar</h1>

        </a>

    </div>


</div>

<div class="contenido">


    <div class="Lisnovelas">
        {{#each ListaNovelas }}

        {{#dataValues}}
        <div class="novelas-container">
            <div class="novela">
                <h4>{{ titulo }}</h4>
                <a href="/novela/{{id}}/1">
                    <img src="{{imagen}}" alt="imgane de {{titulo}}" width="200" height="200">
                </a>
            </div>
        </div>
        {{/dataValues}}


        {{/each}}
    </div>



</div>